<div class="loading-page">
	<div class="center-block">
		<div class="front">
			<img src="../img/logo.png" alt="" class="logo">
			<h1>Pet <span>Online</span></h1>
			<div class="divide"></div>
			<p>Design by Pham Ngoc Linh</p>
		</div>

		<a href="/login" class="load"></a>
	</div>
</div>


<script>
	$(document).ready(function() {
		setTimeout(function() {
			$('.load').click();
		}, 3000);
	});
</script>