<div class="account-page">
	<div class="center-block">
		<div class="front">
			<img src="../img/logo.png" alt="">

			<div class="text-left">
				<md-input-container class="md-block">
			      <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
			      <input ng-model="user.email" type="email" placeholder="Username" ng-required="true">
			    </md-input-container>

				<md-input-container class="md-block">
			      <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
			      <input ng-model="user.email" type="email" placeholder="Email" ng-required="true">
			    </md-input-container>
			    
			    <md-input-container class="md-block">
			      <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
			      <input ng-model="user.email" type="email" placeholder="Password" ng-required="true">
			    </md-input-container>

			    <md-button class="md-raised md-warn">CREATE ACCOUNT</md-button>


			    <!-- <md-content flex layout-padding> -->

			    <!-- </md-content> -->
			</div>

			<p>Back to <a href="/login" style="color:#ffffff; text-decoration: underline;">Login</a></p>
		</div>
	</div>
</div>