<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <base href="/">
	
	<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1">
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Javascript -->
    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-route/angular-route.js"></script>
    <script src="libs/ngStorage-master/ngStorage.js"></script>
    
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Application -->
    <script src="js/controllers/mainController.js"></script>

    <script src="js/appRoutes.js"></script>
    <script src="js/app.js"></script>

    <title>Demo</title>

</head>
<body class="wrapper" ng-app="EUID" ng-controller="MainController" ng-cloak>
	
    <div class="app-wrapper">

        <ng-view></ng-view>

    </div>

    <div class="main-content">
        <!-- <div class="page-links" ng-if="isDoneLogin">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a> &gt;</li>
                <li class="breadcrumb-item"><a href="/{{pagelink.title | lowercase }}">{{pagelink.title}}</a></li>
            </ol>
        </div>
 -->


        <!-- <footer >
            <div class="copyrights">
                © Copyrights 2016 <a href="http://kyanon.com/" target="_blank">Kyanon</a> All Rights Reserved.
            </div>
        </footer> -->

    </div>

</body>
</html>