@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
	font-family: 'Montserrat', sans-serif;
}


.app-wrapper {
	height: 100vh;
    background: #e1dbdd url(../img/loading.jpg) no-repeat center;
    background-size: cover;
}

.loading-page {
	width: 100%;
    height: 100vh;
    display: table;
    text-align: center;
    color: #ffffff;
}

.loading-page .center-block {
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

.loading-page .center-block:after {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(7, 25, 154, 0.5);
    z-index: 0;
}

.loading-page .front {
	position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.loading-page h1 {
    font-size: 45px;
}

.loading-page h1 span {
	font-weight: 600;
}

.loading-page img {
    width: 115px;
    height: 115px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 100%;
    padding: 23px 10px 10px 10px;
}

.loading-page .devide {
    height: 1px;
    background: #ffffff;
    width: 100px;
    display: block;
    margin: auto;
    margin-bottom: 12px;
}


.account-page {
	width: 100%;
    height: 100vh;
    display: table;
    color: #ffffff;
}

.account-page .center-block {
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

.account-page .center-block:after {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(108, 60, 160, 0.76);
    z-index: 0;
}

.account-page .front {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    padding-top: 50px;
}

.account-page .text-left {
	padding: 15px;
	max-width: 400px;
    margin: auto;
	margin-top: 40px;
}

.account-page img {
    width: 115px;
    height: 115px;
    border-radius: 100%;
    padding: 23px 10px 10px 10px;
}

.account-page .devide {
    height: 1px;
    background: #ffffff;
    width: 100px;
    display: block;
    margin: auto;
    margin-bottom: 12px;
}

md-input-container.md-default-theme .md-input, md-input-container .md-input {
	border-color: rgb(255, 255, 255);
}

md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
    color: rgb(255, 255, 255);
}

md-input-container.md-default-theme.md-input-invalid .md-input, md-input-container.md-input-invalid .md-input {
    border-color: rgb(208, 88, 52);
}

md-input-container.md-default-theme.md-input-invalid label, md-input-container.md-input-invalid label, md-input-container.md-default-theme.md-input-invalid .md-input-message-animation, md-input-container.md-input-invalid .md-input-message-animation, md-input-container.md-default-theme.md-input-invalid .md-char-counter, md-input-container.md-input-invalid .md-char-counter {
    color: #d05834;
}

.md-button {
	width: calc(100% - 15px);
}



md-icon {
	background: url(../img/logo.png) no-repeat;
    background-size: contain;
}



md-input-container:not(.md-input-invalid).md-input-focused .md-input,
md-input-container:not(.md-input-invalid).md-input-focused label {
	border-color: #ffffff !important;
	color: #ffffff !important;
}